<div class="col-md-12">
  <div class="modal-dialog">
    <div class="modal-content" style="border: none !important">
      <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="form" (ngSubmit)="signup()"
              [formGroup]="signupForm">
          <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" name="username"
                     id="username" placeholder="Username *"
                     formControlName="username">
              <div *ngIf="signupForm.get('username').invalid && signupForm.get('username').touched"
                   class="alert alert-danger login-validator">Username is required
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password"
                     id="password" placeholder="Password *"
                     formControlName="password">
              <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched"
                   class="alert alert-danger login-validator">Password is required
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="mail"
                     id="mail" placeholder="Mail *"
                     formControlName="email">
              <div *ngIf="signupForm.get('email').invalid && !signupForm.get('email').pristine"
                   class="alert alert-danger login-validator">Enter a valid email address
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="firstName"
                     id="firstName" placeholder="First Name *"
                     formControlName="firstName">
              <div *ngIf="signupForm.get('firstName').invalid && signupForm.get('firstName').touched"
                   class="alert alert-danger login-validator">Firstname is required
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="lastName"
                     id="lastName" placeholder="Last Name *"
                     formControlName="lastName">
              <div *ngIf="signupForm.get('lastName').invalid && signupForm.get('lastName').touched"
                   class="alert alert-danger login-validator">Lastname is required
              </div>
            </div>
            <div class="contain">
              <div class="row justify-content-between">
                <div class="col-4 ">
                  <button class="btn btn-success" [disabled]="!signupForm.valid">
                    Sign Up
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
